<apex:page StandardController="Plot__c">
<apex:slds />
<div class="slds-scope">
<div align="center" vertical-align= "middle">
<apex:outputText style="font-size:15pt; color:red; font-weight: bold;"  value="Customer Changes from Sales: Yes" rendered="{!Plot__c.Customer_Changes_from_Sales__c = "Yes"}"/>
<apex:outputText style="font-size:15pt; color:#00C639; font-weight: bold;" value="Customer Changes from Sales: No" rendered="{!Plot__c.Customer_Changes_from_Sales__c = "No"}"/>

<apex:outputText style="font-size:20pt" value="N/A" rendered="{!Plot__c.Customer_Changes_from_Sales__c = ""}"/>
</div>
</div>
</apex:page>