<apex:page controller="CloningCheckedRowsController">
<apex:pagemessages />
    <apex:form >
        <apex:pageBlock id="pg">
           <apex:pageBlockTable value="{!listWrapper}" var="w">
               <apex:column > 
                   <apex:facet name="header">
                       <apex:inputCheckbox value="{!allBool}">
                           <apex:actionSupport reRender="pg" action="{!selectAll}" event="onchange"/>
                       </apex:inputCheckbox>
                   </apex:facet>
                   <apex:inputCheckbox value="{!w.checked}"/>
               </apex:column>
               <apex:column value="{!w.dcs.File_Name__c}"/>
               <apex:column value="{!w.dcs.Specification__c}"/>
               <apex:column value="{!w.dcs.createdby}"/>
               <apex:column value="{!w.dcs.createdby}"/>
               <apex:column headerValue="Created Date/Time" >
                        <apex:outputText value=" {0,date,dd/MM/yy HH:mm a}">
                            <apex:param value="{!w.dcs.CreatedDate}"/>
                        </apex:outputText>
                    </apex:column> 
            </apex:pageBlockTable> 
            <apex:pageBlockButtons >
                <apex:commandButton value="Clone" action="{!process}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>